@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    padding: 15px 30px;
    margin: 10px;
    background-color: #ffc79d;
    color: white;
    text-align: center;
    text-decoration: none;
    font-weight: normal;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: background-color 0.3s, transform 0.3s;
    cursor: pointer;
}


.enter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.main-link {
    font-size: 40px;
    color: white;
    font-weight: normal;
}

.main-link:hover {
    background-color: #f6834f;
    transform: translateY(-2px);
}

.profile-link {
    font-size: 25px;
    color: white;
}

.profile-link:hover {
    background-color: #f6834f;
    transform: translateY(-2px);
}


.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.typing-text {
    flex-grow: 0;
    margin-bottom: 20px;
    border: 2px solid black;
    border-radius: 5%;
    padding: 10px;
    font-size: 35px;
    max-width: 700px;
    background-color: white;
}


.Value {
    font-size: 40px;
    width: 700px;
    height: 70px;
}



body {
    background-color: bisque;
}

.main {
    border: 1px solid black;
    font-size: 30px;
    margin-bottom: 20px;
}

.back {
    position: absolute;
    top: 5%;
    left: 5%;
    color: white;
}

.back:hover {
    background-color: #f6834f;
    transform: scale(1.05);
}

.highlight {
    border-bottom: 3px solid black;
}
